@using EduTrack.Service.DTOs.Teachers
@model TeacherCreateModel

<h1>Create New Teacher</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        @* Display a summary of model errors *@
        <div asp-validation-summary="All" class="text-danger"></div>

        <form asp-action="Create">
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-success"> Submit </button>
            </div>
        </form>
    </div>
</div>